.catalog-container {
    margin-top: 30px;
    padding-left: 40px;
    padding-right: 40px;
}

.catalog-movies {
    margin-top: 45px ;    
    display: grid;
    grid-gap: 10px 0px;
    grid-template-columns: repeat(auto-fill, 270px);
    justify-content: space-between;
    
}