.movie-details-container {

    margin-top: 37px;
    margin-left: 135px;
    margin-right: 135px;

    height: 374px;

}
.movie-details-card {
    border: none;
    
    padding: 15px 29px;
   
}

.movie-details-avaliacao {
    margin-top: 15px;
    margin-left: 135px;
    margin-right: 135px;

}


.movie-year-detail {
    font-weight: bold;
     font-size: 24px;
    line-height: 33px;
    /* identical to box height */

    letter-spacing: -0.015em;

    color: #FFC700;
}
.movie-details-img {
    width: 406px; 
    height: 340px;
}

.movie-details-subtitle {
   font-size: 18px;
   line-height: 25px;
   font-style: normal;
   font-weight: normal;
   /* identical to box height */

   letter-spacing: -0.015em;
    
   color: #FFFFFF;
   margin-bottom: 10px;
}



.movie-details-card-text {
    width: 441px;
    height: 234px;
   
    

    border: 1px solid #E1E1E1;
    box-sizing: border-box;
    border-radius: 20px;
    
    padding: 5px 5px 0px 15px;
}